<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My FLASK coding Registration Page</title>
    {%load staticfiles%}
   <link rel="stylesheet" href="{% static 'loginregapp/css/loginreg.css' %}" media="screen" title="no title"  charset="utf-8">  
  <body>
    <p>Welcome user {{request.session.user}}</p>
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <div class="alert alert-{{msg.5_info}}" role="alert">
          {{msg.message}}
        </div>
        {% endfor %}
    </ul>
  {% endif %}
  <form action='/logout' method = 'post'>
   {% csrf_token %}
   <p>Proceed to Enter<a href='/courses'>CourseApp</a></p>
  	<input type='submit' value='Logout'>
  </form>
  </body>
</html>

  